{% extends 'base.html' %}
{% block content %}

    <h1>Update Blog Post</h1>
    <form class="form"action="{{ url_for('update', post_id=post['id']) }}" method="POST">
        <div class="form-group">
            <label for="author">Author</label><br>
            <input type="text" id="author" name="author" value="{{ post['author'] }}" required>
        </div>
        <div class="form-group">
            <label for="title">Title</label><br>
            <input type="text" id="title" name="title" value="{{ post['title'] }}" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label><br>
            <textarea id="content" name="content" rows="10" cols="100" required
            >{{ post['content'] }}</textarea>
        </div>
        <button type="submit">
            Update Blogpost
        </button>
    </form>

{% endblock %}